@import "tailwindcss";

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  overscroll-behavior-y: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

@theme {
  --animate-ticker: ticker 20s linear infinite;

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.33%);
    }
  }
}
