@import "tailwindcss";

@theme {
  --animate-ticker: ticker 20s linear infinite;

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.33%);
    }
  }
}
